name: Android CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
        cache: gradle
    
    # 设置编译环境
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew assembleRelease  && cd ./app && tree
      
    # 获取apk版本号
    - name: Read value from Properties-file
      id: read_property
      uses: christian-draeger/read-properties@1.0.1
      with:
        path: './version.properties'
        property: 'versionName'
    
    # 上传资源到Artifact
    - name: Upload Apk To Artifact
      uses: actions/upload-artifact@v2
      with: 
        name: ${{ steps.read_property.outputs.value }}_release.apk
        path: app/build/outputs/apk/release/idioms_v${{ steps.read_property.outputs.value }}_release.apk
        if-no-files-found: error
   
   # 从Artifact下载资源
    - name: Download Apk From Artifact
      uses: actions/download-artifact@v2
      with:
        name: ${{ steps.read_property.outputs.value }}
   
   
   # 上传文件到 leacloud
    - name: Upload APK to leacloud
      uses: manyuanrong/setup-lean-cli@v1.0.0
      with:
          version: '0.29.2'
    - run: |
          lean login --region cn-e1 --username ${{secrets.LEANCLOUD_USER}} --password ${{secrets.LEANCLOUD_PASS}}
          lean switch --region cn-e1 --group web ${{secrets.LEANCLOUD_APP_ID}}
          lean upload app/build/outputs/apk/release/idioms_v${{ steps.read_property.outputs.value }}_release.apk
    
   # 远程下载apk拆分脚本
    - name: Bsdiff The  Apk
      run: |
          wget https://idiom-file.wxiou.cn/vnTevc8KFFKhLzKlUxyuQVTvLawgpTaQl89WB5BQ.apk
          find ./ -name '*.apk' -exec basename {} > apk.txt \;
          wget https://lc-gluttony.s3.amazonaws.com/9WTW1sBG7ANz/8hWoLYkcVz2ekQ00pIhP6tpv5BaU6XXg/d.sh
          bash d.sh
    
    # 上传文件到 leacloud
    - name: Upload patch to leacloud
      uses: manyuanrong/setup-lean-cli@v1.0.0
      with:
          version: '0.29.2'
    - run: |
          lean login --region cn-e1 --username ${{secrets.LEANCLOUD_USER}} --password ${{secrets.LEANCLOUD_PASS}}
          lean switch --region cn-e1 --group web ${{secrets.LEANCLOUD_APP_ID}}
          lean upload ./idioms_v${{ steps.read_property.outputs.value }}_release.patch
    
    # 上传资源到Artifact
    - name: Upload Apk To Artifact
      uses: actions/upload-artifact@v2
      with: 
        name: ${{ steps.read_property.outputs.value }}_release.patch
        path: app/build/outputs/apk/release/idioms_v${{ steps.read_property.outputs.value }}_release.apk
        if-no-files-found: error
          
    - name: Update Version Info
      uses: enflo/curl-action@v1.2
      with:
        curl: -X POST https://idiom.wxiou.cn/version
    
    - name: Delete Release
      uses: dev-drprasad/delete-tag-and-release@v0.2.0
      with:
        delete_release: false # default: false
        tag_name: ${{ steps.read_property.outputs.value }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        
    # 创建release
    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ steps.read_property.outputs.value }}
        release_name: Release V${{ steps.read_property.outputs.value }}
        draft: false
        prerelease: false
        
    # 上传至release的资源
    - name: Upload Release Asset
      id: upload-release-asset 
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }} # 上传网址，无需改动
        asset_path: ./idioms_v${{ steps.read_property.outputs.value }}_release.apk # 上传路径
        asset_name: idioms_v${{ steps.read_property.outputs.value }}_release.apk # 资源名
        asset_content_type: application/vnd.android.package-archiv #资源类型
        
    # 存档打包的文件
    - name: Archive production artifacts
      uses: actions/upload-artifact@v2
      with:
        name: build
        path: app/build/outputs #将打包之后的文件全部上传（里面会有混淆的map文件）
      
